.contact {
  display: none;
  @include tablet {
    display: block;
  }
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}
@include tablet {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@include desktop {
  .contact__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.nav-contact {
  margin-left: auto;
}
.contact__link {
  display: flex;
  align-items: center;
}
.contact--color {
  color: var(--main-text-color);
}

.contact__tel__icon,
.contact__mail__icon {
  fill: currentColor;
  margin-right: 10px;
}
