.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--header-footer-background-color);
}
.footer-position {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    align-items: baseline;
  }
}

@include tablet {
  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 74px 0 61px;

    @include desktop {
      padding: 0;
      flex-direction: row;
      justify-content: start;
    }
  }
}
.footer-container {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
  @include desktop {
    text-align: left;
  }
}

.footer-container__logo {
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
}
.logo--white {
  color: var(--accent-text-color);
}
.address {
  text-align: center;
}
.address__street {
  font-weight: 400px;
  line-height: 1.71;
  @include transit(color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @include desktop {
    display: flex;
    align-items: start;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__list {
  font-style: normal;
}
.address__address--link {
  color: var(--accent-text-color);
}
.address__connect--link {
  color: rgba(225, 225, 225, 0.6);
}

// ----------------------------------JOIN-----------------------------------

@include desktop {
  .join {
    margin-left: 70px;
  }
}
.soc-footer {
  display: flex;
  justify-content: center;
}
.footer-title {
  display: block;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--accent-text-color);
  @include desktop {
    display: flex;
    align-items: start;
  }
}
.footer--title {
  text-align: center;
  margin-bottom: 20px;
}

.join--soc--link {
  color: var(--accent-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

// ----------------------------FOOTER FORM----------------------------------

.footer-form {
  margin-top: 60px;
  @include desktop {
    margin-top: 0;
    margin-left: 93px;
  }
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    flex-direction: row;
    align-items: baseline;
  }
}
.input-mail {
  max-width: 450px;
  width: 100%;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--accent-text-color);
  @include transit(border);

  &:hover {
    border: 1px solid var(--accent-color);
  }
  &:focus {
    border: 1px solid var(--accent-text-color);
  }
  @include desktop {
    margin-bottom: 0;
    width: 358px;
    margin-right: 12px;
  }
}
.input-mail--right {
  margin-right: 12px;
  margin-bottom: 20px;
}
.footer-btn {
  padding: 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation-time), transform var(--animation-time),
    box-shadow var(--animation-time);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__icon-telegram {
  margin-left: 10px;
  fill: currentColor;
}
