.logo {
  font-family: 'Raleway';
  @include font(700, 26px, 1.19, null);
  color: var(--accent-color);
}
.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  // margin-right: 93px;
}
.logo--black {
  color: var(--black-text-color);
}
