.nav {
  display: none;
  // @extend %align-list;
}
.nav__list {
  display: flex;
}
.nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.nav__link,
.contact__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(500, null, 1.14, 0.01em);
  color: var(--second-text-color);
  @include transit(color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__active {
  color: var(--accent-color);
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
