body {
  background-color: var(--background-main-color);
  color: var(--main-text-color);
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: var(--letter-spacing);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  // потім забрати віз 100%
  width: 100%;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.no-scroll {
  overflow: hidden;
}
